*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
} 

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	 
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Littera Plain';
	font-size: 16px;
	line-height: 24px;
	overflow-x: hidden;
	margin: 0; 
	background-color: #fff;
	color: #383838;
} 
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}
.container-fluid {
	padding: 0 40px;
}
.header .container-fluid {
	padding: 0;
	padding-right: 20px;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 800;
	border-bottom: 1px solid rgba(250,250,250,0.3);
	transition: all 0.3s;
}
.header.fixed {
	background-color: #373737;
	border-color: transparent;
}
.header.fixed .header__left {
	border-bottom-color: transparent;
}
.header__left {
	padding-right: 68px;
	border-bottom: 1px solid #cbb48b;
	margin-bottom: -1px;
	margin-left: -15px;
	padding-left: 40px;
	border-right: 1px solid rgba(250,250,250,0.3);
	display: inline-flex;
	align-items: center;
}
.logo {
	display: inline-block;
}
.logo img {
	max-width: 153px;
	height: auto;
	display: block;
}
.menu {
	display: flex;
	align-items: center;
	flex: 1;
}
.menu a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: #fafafa;
	height: 97px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s;
}
.menu a:hover {
	background-color:  rgba(250,250,250,0.1);
}
.menu li {
	flex-grow: 1;
}
.header__wrap {
	display: flex;
}
.item-phone {
	font-size: 20px;
	line-height: 24px;
	padding: 0 40px;
	font-weight: 500;
	color: #fafafa;
	display: inline-flex;
	align-items: center;
	height: 97px;
	background-color: #c77d58;
	justify-content: center;
	transition: all 0.3s;
}
.item-phone:hover {
	background-color: #b6653d;
}
.item-phone i {
	font-size: 10px;
	margin-left: 18px;
}
.btn-icon {
	height: 97px;
	width: 80px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	color: #fff;
	position: relative;
	transition: all 0.3s;
}
.search-form:hover,
.btn-icon:hover {
	background-color:  rgba(250,250,250,0.1);
}
.btn-icon img {
	max-width: 22px;
}
.btn-icon__value {
	top: 31px;
	right: 15px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #cab38a;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 13px;
	line-height: 1.2;
	color: #373737;
	position: absolute;
}
.btn-icon__arrow {
	font-size: 9px;
	position: absolute;
	bottom: 14px;
	right: 0;
	margin: 0;
	left: 0;
}
.search-form {
	height: 97px;
	width: 80px;
	position: relative;
	cursor: pointer;
	transition: all 0.3s;
}
.search-form input {
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
	padding: 0 20px;
	padding-right: 90px;
	color: #383838;
	background-color: transparent;
	opacity: 0;
	z-index: 2;
	transition: all 0.3s;
	cursor: pointer;
	font-family: 'Littera Plain';
}
.search-form input:focus {
	width: 700px;
	background-color: #fff;
	opacity: 1;
}
.search-form input:focus + .btn-search {
	color: #383838;
	z-index: 4;
}
.search-form input:focus + .btn-search i::before {
	content: "\f00d";
}
.search-form input::-webkit-input-placeholder {
	color: #383838;
	opacity: 1;
}
.search-form input:-moz-placeholder {
	color: #383838;
	opacity: 1;
}
.search-form input::-moz-placeholder {
	color: #383838;
	opacity: 1;
}
.search-form input:-ms-input-placeholder {
	color: #383838;
	opacity: 1;
}
.btn-search {
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	transition: all 0.3s;
	background-color: transparent;
	color: #fff;
}
.btn-catalog__text,
.btn-menu__text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fafafa;
}
.btn-menu__text {
	opacity: 0.6;
}
.sandwich span {
	display: block;
}
.sandwich {
	width: 42px;
	height:28px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 20;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 42px;
	height: 2px;
	background-color: #fafafa;
	display: block;
	margin: 0 auto;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 11px;
	width: 42px;
	height: 2px;
	background-color: #fafafa;
	display: block;
	margin: 0 auto;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 19px;
	width: 42px;
	height: 2px;
	background-color: #fafafa;
	display: block;
	margin: 0 auto;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 12px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top:8px;
	transform: rotate(-45deg); 
}
.header__left .btn-menu {
	margin-top: 10px;
	margin-left: 65px;
}
.btn-menu {
	cursor: pointer;
}
.catalog-btn-wrap {
	width: 98px;
	bottom: 0;
	top: 97px;
	border-right: 1px solid rgba(250,250,250,0.3);
	z-index: 2;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-catalog {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	height: 99px;
	padding: 0 25px;
	border-bottom: 1px solid #cbb48b;
	transform: rotate(-90deg);
}
.btn-catalog .sandwich span {
	background-color: #cbb48b;
}
.btn-catalog .sandwich {
	margin-right: 25px;
}
.btn-catalog .sw-bottom {
	top: 11px;
}
.btn-catalog .sw-footer {
	top: 17px;
}

.item-billbord {
	color: #fafafa;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.item-billbord__content {
	padding-top: 285px;
	padding-bottom: 120px;
	height: 100vh;
	min-height: 660px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-billbord__content .btn-main {
	margin-top: auto;
}
.item-billbord::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: rgba(21,21,21,0.5);
}
.title-big {
	font-size: 80px;
	line-height: 43px;
	margin-bottom: 60px;
	font-weight: 700;
	max-width: 770px;
	font-family: 'Road Radio';
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
.descr-big {
	font-size: 50px;
	line-height: 60px;
	max-width: 770px;
	font-family: 'Road Radio';
}
.btn-main {
	font-size: 18px;
	line-height: 24px;
	padding: 0 49px;
	height: 70px;
	background-color: #cbb48b;
	background-image: linear-gradient(138.0deg, rgba(250,250,250,0.24) 25%, rgba(250,250,250,0.0) 60%, rgba(250,250,250,0.0) 44%);
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #ffffff;
	font-family: 'Road Radio';
	transition: all 0.3s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	position: relative;
	border: none;
}
.btn-main:hover {
	background-color: #b2883d;
}
.slick-arrow {
	width: 70px;
	height: 70px;
	font-size: 16px;
	top: 50%;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #373737 !important;
	transition: all 0.3s;
}
.slick-arrow::before {
	display: none;
}
.slick-arrow:hover {
	background-color: #e3e4e6;
}
.billbord .slick-arrow {
	top: auto;
	bottom: 120px;
	right: 15px;
	transform: none;
}
.billbord .slick-prev {
	right: 85px;
}
.container_billbord {
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 100%;
	position: absolute;
}
.billbord {
	position: relative;
}
.article h1,
.title-section {
	font-size: 36px;
	line-height: 39px;
	padding-top: 60px;
	padding-bottom: 15px;
	font-weight: 700;
	font-family: 'Road Radio';
	text-align: center;
}
.item-category__image {
	height: 575px;
	position: relative;
	z-index: 1;
}
.item-category__image::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(61, 61, 61, 0.6);
	mix-blend-mode: multiply;
}
.item-category__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-category {
	position: relative;
	color: #fafafa;
}
.slider-categories .item-category {
	margin: 0 4px;
}
.slider-categories {
	margin: 0 -4px;
	margin-top: 30px;
}
.item-category__content {
	padding: 50px 40px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	z-index: 3;
	align-items: flex-start;
}
.item-category .title-section {
	margin-bottom: 40px;
	min-height: 78px;
	padding-bottom: 0 !important;
	color: #fff;
	display: block;
	padding-top: 0;
	text-align: left;
}
.item-category ul a {
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	border-bottom: 1px solid transparent;
	color: #fafafa;
	transition: all 0.3s;
}
.item-category ul a:hover {
	border-color: #fafafa;
}
.item-category ul li {
	padding-left: 15px;
	position: relative;
}
.item-category ul li::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
}
.item-category .btn-main {
	font-size: 14px;
	line-height: 24px;
	padding: 0 26px;
	height: 55px;
	margin-top: auto;
}
.item-category ul,
.item-category .btn-main {
	opacity: 0;
	transition: all 0.3s;
}
.item-category:hover ul,
.item-category:hover .btn-main {
	opacity: 1;
}
.link-main {
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #ccb58c;
	border-bottom: 1px solid #ccb58c;
	text-align: center;
	transition: all 0.3s;
}
.link-main:hover {
	border-color: transparent;
}
.bottom-link {
	padding-top: 30px;
	text-align: center;
}
.categories {
	padding-bottom: 60px;
}
.catalog {
	padding-bottom: 45px;
	color: #fafafa;
	background-image: url(../img/bg_section1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.descr-section {
	font-size: 18px;
	padding-bottom: 33px;
	font-weight: 500;
	text-align: center;
}
.slider-catalog {
	margin-top: 10px;
}
.item-portofilo__slider .slick-track,
.slider-catalog .slick-track {
	display: flex !important;
}
.item-portofilo__slider .slick-slide,
.slider-catalog .slick-slide {
	height: inherit !important;
}
.item-catalog {
	padding: 25px;
	color: #383838;
	background-color: #fafafa;
	text-align: center;
	min-height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}
.item-catalog__image {
	height: 275px;
	margin-bottom: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-catalog__image img {
	max-width: 100%;
	max-height: 100%;
}
.articul {
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
}
.articul span {
	font-weight: 400;
}
.availability {
	font-size: 14px;
	padding-left: 20px;
	font-weight: 500;
	position: relative;
}
.availability::before {
	position: absolute;
	display: block;
	content: " ";
	width: 6px;
	height: 6px;
	background-color: #3b4d3d;
	border-radius: 50%;
	top: 7px;
	left: 0;
}
.item-catalog__top {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}
.item-catalog__title {
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	color: #383838;
	width: 100%;
	max-width: 256px;
	margin: 0 auto;
	margin-bottom: 15px;
	display: block;
}
.item-catalog__price {
	font-size: 24px;
	margin-bottom: 22px;
	line-height: 39px;
	margin-top: auto;
	font-weight: 700;
}
.item-catalog .btn-main {
	font-size: 14px;
	line-height: 18px;
	height: 43px;
	padding: 0 17px;
}
.item-catalog__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.status {
	font-size: 13px;
	top: 15px;
	left: 15px;
	padding: 7px 11px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #ffffff;
	position: absolute;
	font-family: 'Road Radio';
	background-color: #c77d58;
}
.colors-list {
	top: 73px;
	left: 15px;
	position: absolute;
}
.item-color {
	width: 14px;
	height: 14px;
	border-radius: 15px;
	margin-bottom: 13px;
}
.slider-catalog .item-catalog {
	margin: 0 20px;
}
.slider-catalog {
	padding: 0 20px;
}
.consultation {
	padding-top: 150px;
	padding-bottom: 170px;
	color: #fafafa;
	background-image: url(../img/bg_consultation.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.title-section span {
	font-size: 48px;
	text-transform: uppercase;
}
.consultation .title-section {
	padding-top: 0;
	padding-bottom: 50px;
	text-align: left;
	font-weight: 400;
}
.descr-page {
	font-size: 18px;
	line-height: 26px;
	font-family: 'Road Radio';
}
.item-form input,
.item-form textarea {
	width: 100%;
	height: 40px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #fafafa;
	border: none;
	background-color: transparent;
	font-family: 'Littera Plain';
	border-bottom: 1px solid #fafafa;
}
.item-form textarea {
	height: 120px;
	resize: none;
}
.item-form *::-webkit-input-placeholder {
	color: #fafafa;
	opacity: 1;
}
.item-form *:-moz-placeholder {
	color: #fafafa;
	opacity: 1;
}
.item-form *::-moz-placeholder {
	color: #fafafa;
	opacity: 1;
}
.item-form *:-ms-input-placeholder {
	color: #fafafa;
	opacity: 1;
}
.consultation-form {
	max-width: 615px;
}
.item-form  {
	margin-bottom: 43px;
}
.consultation-form .btn-main {
	width: 100%;
	padding: 0;
	height: 56px;
	font-size: 14px;
}

.checkbox {
	font-size: 12px;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 0px 0 0 23px;
	display: block;
	cursor: pointer;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid rgba(250,250,250,0.69);
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 0px;
	width: 15px;
	height: 15px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	background-image: none;
	color: #c77d58;
	font-size: 7px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.checkbox-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}
.checkbox-wrap .checkbox {
	white-space: nowrap;
}
.consultation-form .row {
	align-items: center;
}
.consultation .descr-page {
	margin-bottom: 80px;
}
.portfolio {
	padding-bottom: 42px;
}
.tabs {
	display: flex;
	align-items: center;
	justify-content: center;
}
.tabs a {
	font-size: 14px;
	line-height: 18px;
	height: 62px;
	font-weight: 500;
	margin: 0 8px;
	padding: 0 15px;
	min-width: 190px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #fafafa;
	background-color: #cab38a;
	transition: all 0.3s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s;
}
.tabs .active a,
.tabs a:hover {
	background-color: #c77d58;
}
.portfolio {
	padding-bottom: 42px;
	background-color: #fafafa;
}
.item-portofilo {
	height: 572px;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
}
.item-portofilo:hover .item-portofilo__hidden {
	display: block;
}
.item-portofilo:hover .item-portofilo__image {
	height: 320px;
}
.item-portofilo:hover .item-portofilo__slider {
	margin-bottom: 35px;
}
.item-portofilo:hover .item-portofilo__slider .slick-dots {
	bottom: -25px;
}
.item-portofilo:hover .item-portofilo__title {
	font-size: 20px;
	line-height: 26px;
}
.item-portofilo__image {
	height: 415px;
	transition: all 0.3s;
	display: block;
}
.item-portofilo__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-portofilo__slider {
	margin-bottom: 60px;
	transition: all 0.3s;
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 7px;
	height: 7px;
}
.slick-dots li button {
	width: 7px;
	height: 7px;
	background-color: #cab38a;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background-color: #e3e4e6;
}
.item-portofilo__slider .slick-dots {
	bottom: -40px;
}
.item-portofilo__title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #383838;
	display: block;
	text-align: center;
	width: 100%;
	transition: all 0.3s;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.item-portofilo__content {
	padding: 30px 25px;
	padding-top: 0;
}
.item-portofilo__hidden {
	padding-top: 15px;
	font-size: 14px;
	line-height: 21px;
	display: none;
}
.item-portofilo__bottom {
	padding-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-portofilo__descr {
	color: #6e6e70;
}
.item-portofilo__price {
	font-size: 24px;
	line-height: 39px;
	font-weight: 700;
}
.slider-portfolio {
	margin: 0 -35px;
}
.slider-portfolio .item-portofilo {
	margin: 0 35px;
}
.slider-portfolio .slick-prev {
	left: -45px;
}
.slider-portfolio .slick-next {
	right: -45px;
}
.item-portofilo__hidden > p {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.tab-container {
	padding-top: 32px;
}
.tab-pane {
	padding: 0 90px;
	margin: 0 -90px;
	height: 0;
	overflow: hidden;
}
.tab-pane.active {
	height: initial;
}
.title-middle {
	font-size: 30px;
	line-height: 1.2;
	font-weight: 500;
}
.about-block {
	padding: 42px 55px;
	margin-bottom: 55px;
	background-color: rgba(250,250,250,0.85);
}
.about-block p {
	margin-bottom: 20px;
}
.about-block .title-middle {
	margin-bottom: 28px;
}
.about {
	background-image: url(../img/bg_about.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.about .title-section {
	padding-bottom: 40px;
	text-align: left;
	color: #fafafa;
}
.title-min {
	font-size: 18px;
	font-weight: 500;
}
.bottom-about {
	padding: 55px 0;
	position: relative;

	z-index: 1;
}
.bottom-about::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgb(41 41 41 / 60%);
	z-index: -1;
}
.bottom-about__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-about {
	font-size: 18px;
	line-height: 26px;
	padding-left: 30px;
	color: #fafafa;
	position: relative;
	max-width: 265px;
}
.item-about::before {
	position: absolute;
	display: block;
	content: " ";
	width: 10px;
	height: 10px;
	background-color: #c77d58;
	border-radius: 50%;
	top: 15px;
	left: 0;
}
.item-about__title {
	font-size: 48px;
	line-height: 39px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: 'Road Radio';
}
.item-about__title span {
	font-size: 24px;
	text-transform: none;
}
.item-about__title sup {
	font-size: 14px;
}
.footer {
	padding-top: 40px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	background-image: url(../img/bg_footer.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.footer .logo img {
	max-width: 107px;
}
.logo-descr {
	font-size: 13px;
	margin-top: 18px;
	max-width: 158px;
	line-height: 1.2;
}
.footer__title {
	font-size: 16px;
	margin-bottom: 12px;
	line-height: 24px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
}
.footer__nav li {
	margin-bottom: 12px;
}
a.footer__title,
.footer__nav li a {
	color: #fff;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;	
}
a.footer__title:hover,
.footer__nav li a:hover {
	border-color: #fff;
}
a.footer__title {
	display: inline-block;
}
.requisites {
	line-height: 30px;
}
.footer__bottom p,
.requisites p {
	margin: 0 !important;
}
.footer p {
	margin-bottom: 20px;
}
.footer p a {
	color: #fff;
}
.footer__contacts {
	font-size: 16px;
	font-weight: 500;
}
.footer__contacts i {
	font-size: 18px;
	margin-left: 10px;
}
.footer__content + ul {
	padding-top: 35px;
}
.footer__bottom {
	padding: 15px 0;
	margin-top: 20px;
	color: #c9cacc;
	border-top: 1px solid #383838;
}
.footer__bottom a {
	color: #c9cacc;
}
.create {
	letter-spacing: 0.25px;
	display: inline-flex;
	align-items: center;
}
.create img {
	max-width: 60px;
	margin-left: 15px;
}
.btn_top {
	font-size: 20px;
	position: relative;
	color: #fff !important;
	width: 50px;
	height: 50px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #cab38a;
	z-index: 300;
	float: right;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top:hover {
	background-color: #c77d58;
}
.footer__mob,
.consultation__image {
	display: none;
}
.footer__title i {
	display: none;
}
.list-social {
	display: flex;
	align-items: center;
}
.list-social a {
	width: 31px;
	height: 31px;
	font-size: 15px;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255,255,255,0.1);
	border-radius: 50%;
	transition: all 0.3s;
	color: #fff;
}
.list-social li:first-child a {
	font-size: 17px;
}
.footer__logo {
	margin-bottom: 15px;
}
.phones-block {
	position: relative;
}
.phones-block__dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
}
.phones-block__dropdown .item-phone {
	display: flex;
	justify-content: flex-start;
	border-top: 1px solid #fff;
}
.phones-block:hover .phones-block__dropdown {
	visibility: visible;
	opacity: 1;
}
.menu-main {
	left: 242px;
	right: 242px;
	padding: 45px 80px;
	padding-right: 20px;
	background-color: #ffffff;
	position: absolute;
	display: none;
	top: 100%;
}
.title-menu {
	font-size: 24px;
	margin-bottom: 22px;
	font-weight: 700;
	color: #383838;
	transition: all 0.3s;
	font-family: 'Road Radio';
	display: inline-block;
}
a.title-menu {
	border-bottom: 1px solid transparent;
}
.nav-menu a {
	margin-bottom: 22px;
	display: inline-block;
	font-weight: 500;
	color: #373737;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
a.title-menu:hover,
.nav-menu a:hover {
	border-color: #373737;
}
.nav-menu li:last-child a {
	margin: 0;
}
li .title-menu {
	margin-bottom: 55px;
}
.content {
	display: flex;
	background-color: #fafafa;
}
.content__left {
	padding-top: 25px;
	padding-bottom: 30px;
	width: 355px;
	background-color: #fff;
	min-height: 100vh;
}
.wrapper_page {
	padding-top: 95px;
}
.wrapper_page .header {
	background-color: #373737;
}
.item-sidebar__link {
	font-size: 24px;
	line-height: 30px;
	padding: 14px 44px;
	color: #383838;
	transition: all 0.3s;
	position: relative;
	cursor: pointer;
}
.item-sidebar__content {
	padding: 0 60px;
	padding-top: 25px;
	display: none;
}
.item-sidebar__content a {
	font-weight: 500;
	color: #67686a;
	transition: all 0.3s;
}
.item-sidebar__content li {
	margin-bottom: 15px;
}
.item-sidebar__content a:hover,
.item-sidebar__content .active a {
	color: #000;
}
.item-sidebar.active .item-sidebar__link {
	font-weight: 500;
	color: #000000;
}
.item-sidebar.active .item-sidebar__link {
	background-color: #fafafa;
}
.item-sidebar.active .item-sidebar__link::before {
	margin-right: 14px;
	content: "•";
	font-weight: 500;
	color: #c77d58;
}
.breadcrumbs {
	color: #999999;
	font-size: 14px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: #999999;
	transition: all 0.3s;
}
.breadcrumbs a:hover {
	color: #000;
}
.breadcrumbs span {
	margin: 0 10px;
}
.content__right {
	padding-top: 35px;
	padding-left: 70px;
	padding-right: 40px;
	padding-bottom: 55px;
	flex: 1;
	min-width: 0;
}
.content__right .title-section {
	text-align: left;
	padding: 0;
	padding-bottom: 35px;
}
.content__top {
	margin-bottom: 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.link-page {
	color: #c77d58;
	transition: all 0.3s;
}
.link-page i {
	font-size: 13px;
	margin-right: 10px;
}
.row_catalog .item-catalog {
	background-color: #fff;
}
.row_catalog > div {
	margin-bottom: 30px;
}
.sorting-catalog {
	margin-bottom: 35px;
	display: flex;
	align-items: center;
}
.sorting-catalog .item-select {
	flex: 1;
	margin: 0 3px;
}
.jqselect {
	width: 100%;
}
.item-select select {
	opacity: 0;
}
.item-select .jq-selectbox__select-text {
	padding: 4px 13px;
	padding-right: 20px;
	height: 36px;
	background-color: #ffffff;
	font-size: 14px;
	cursor: pointer;
	border: 1px solid rgba(104,104,106,0.69);
	border-radius: 3px;
	display: flex;
	align-items: center;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;  
	overflow: hidden;

}
.jq-selectbox__dropdown {
	font-size: 14px;
	width: 100%;
	background-color: #fff;
	border: 1px solid rgba(104,104,106,0.69);
	border-radius: 3px;
}
.jq-selectbox__dropdown li {
	padding: 3px 13px;
	cursor: pointer;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 25px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	cursor: pointer;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	font-size: 10px;
	display: flex;
	align-items: center;
}
.jq-selectbox__trigger::before {
	content: "\f078";
}
.range-text {
	margin-right: 15px;
	font-size: 14px;
	position: relative;
	top: -4px;
}
.range-item {
	flex: 1;
	margin-right: 20px;
	position: relative;
	top: 2px;
}
.irs--flat .irs-min, .irs--flat .irs-max {
	display: none;
}
.irs--flat .irs-line {
	top: 14px;
	height: 3px;
	background-color: #c77d58;
	border-radius: 0;
}
.irs--flat .irs-bar {
	top: 14px;
	height: 3px;
	background-color: #ccb58c;
	border-radius: 0;
}
.irs--flat .irs-handle {
	width: 14px;
	height: 14px;
	top: 8px;
	cursor: pointer;
	background-color: #ccb58c;
	background-image: linear-gradient(138.0deg, rgba(250,250,250,0.24) 0%, rgba(250,250,250,0.0) 63%, rgba(250,250,250,0.0) 73%);
	border-radius: 50%;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before,
.irs--flat .irs-handle i {
	display: none !important;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
	top: 20px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #383838;
	background-color: transparent;
}
.consultation-page {
	padding: 35px 45px;
	margin-bottom: 45px;
	background-image: url(../img/bg_form.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fafafa;
}
.consultation-page__wrap {
	max-width: 938px;
}
.title-section strong {
	font-weight: 900;
	text-transform: uppercase;
}
.consultation-page .btn-main {
	font-size: 14px;
	padding: 0 4px;
	width: 100%;
	height: 56px;
}
.consultation-page .checkbox-wrap {
	margin-top: 15px;
}
.pager {
	padding: 16px 50px;
	margin-bottom: 50px;
	background-color: #f5f5f5;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers {
	width: 31px;
	height: 31px;
	font-size: 14px;
	margin: 0 3px;
	color: #383838;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s;
}
.page-numbers:hover,
.page-numbers.current {
	background-color: #c77d58;
	color: #fafafa;
}
.prev.page-numbers,
.next.page-numbers {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex !important;
}
.prev.page-numbers {
	left: 10px;
}
.next.page-numbers {
	right: 10px;
}
.text-page h2 {
	font-size: 30px;
	margin-bottom: 20px;
	line-height: 1.2;
	font-weight: 500;
}
.text-page h6 {
	font-size: 18px;
	font-weight: 500;
	margin: 0;
}
.text-page p {
	margin-bottom: 20px;
}
.link-simple {
	color: #c77d58;
	border-bottom: 1px solid transparent;
	display: inline-block;
	transition: all 0.3s;
}
.link-simple:hover {
	border-color: #c77d58;
}
.card-image {
	height: 614px;
	padding: 30px;
	background-color: #ffffff;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-image img {
	max-width: 100%;
	max-height: 100%;
}
.card-top__descr {
	font-size: 18px;
}
.card-top .title-section {
	padding-bottom: 10px;
}
.card-top {
	margin-bottom: 85px;
	display: flex;
	justify-content: space-between;
}
.card-top .articul {
	margin-bottom: 10px;
}
.card-content {
	max-width: 1200px;
	margin-bottom: 70px;
}
.title-card {
	font-size: 18px;
	padding-bottom: 12px;
	color: #67686a;
}
.list-settings {
	display: flex;
	align-items: center;
}
.radio-text {
	margin-right: 15px;
}
.radio-text:last-child {
	margin-right: 0;
}
.radio-text span {
	padding: 5px 11px;
	background-color: #ffffff;
	border: 1px solid rgba(104,104,106,0.69);
	border-radius: 3px;
	color: #383838;
	display: block;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s;
}
.radio-type label input,
.radio-color label input,
.radio-text label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.radio-text label input:checked ~ span {
	background-color: #cab28a;
	border-color: #cab28a;
}
.wrap-setting-card {
	max-width: 385px;
}
.colors-radios {
	display: flex;
	align-items: center;
}
.radio-color {
	margin-top: 7px;
	margin-right: 22px;
}
.radio-color:last-child {
	margin-right: 0;
}
.radio-color span {
	width: 21px;
	height: 21px;
	border-radius: 50%;
	cursor: pointer;
	border: 2px solid transparent;
	display: block;
	transition: all 0.3s;
}
.radio-color label input:checked ~ span {
	border-color: #404040;
}
.wrap-setting-card > .row > div {
	margin-bottom: 35px;
}
.card-prices {
	margin-bottom: 38px;
	display: flex;
	align-items: center;
}
.price-old {
	font-size: 18px;
	margin-right: 28px;
	color: #67686a;
	text-decoration: line-through;
}
.price-main {
	font-size: 30px;
	font-weight: 500;
}
.quantity {
	width: 105px;
	height: 36px;
	background-color: #ffffff;
	border: 1px solid rgba(104,104,106,0.69);
	border-radius: 3px;
	display: flex;
}
.quantity-button {
	width: 33px;
	border: none;
	flex: none;
	background-color: transparent;
	font-size: 18px;
	line-height: 21px;
	font-weight: 500;
	color: #383838;
	font-family: 'Littera Plain';
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.quantity input {
	flex: 1;
	width: 100%;
	font-size: 18px;
	font-weight: 400;
	color: #383838;
	border: none;
	border-left: 1px solid #67686a;
	border-right: 1px solid #67686a;
	font-family: 'Littera Plain';
	text-align: center;
	background-color: transparent;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}
input[type=number]
{
	-moz-appearance: textfield;
}
.card-buttons {
	display: flex;
	align-items: center;
}
.card-buttons .btn-main {
	height: 50px;
	font-size: 14px;
	min-width: 165px;
	padding: 0 26px;
	margin-right: 30px;
}
.btn-main_page {
	background-color: #c77d58;
	background-image: linear-gradient(138.0deg, rgba(250,250,250,0.24) 27%, rgba(250,250,250,0.0) 60%, rgba(250,250,250,0.0) 42%);
}
.btn-main_page:hover {
	background-color: #9e3e0e;
}
.card-content .quantity {
	margin-bottom: 35px;
}
.btn-icon-card {
	font-size: 23px;
	margin-right: 35px;
	color: #373737;
}
.btn-icon-card img {
	width: 25px;
	height: auto;
}
.tab-container-card {
	padding-top: 35px;
}
.tab-container-card p {
	margin-bottom: 20px;
}
.tab-container-card strong {
	font-weight: 500;
}
.tabs-card {
	margin-top: 15px;
	display: flex;
	align-items: center;
}
.tabs-card a {
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #383838;
	margin-right: 16px;
	border-bottom: 2px solid #cab38a;
	padding: 20px;
	min-width: 190px;
	display: inline-block;
	text-align: center;
	transition: all 0.3s;
}
.tabs-card a:hover,
.tabs-card .active a {
	border-color: #c77d58;
}
.pr_35 {
	padding-right: 35px;
}
.content .slider-products .item-catalog {
	background-color: #fff;
	margin: 0 15px;
}
.slider-products {
	margin: 0 -15px;
}
.content_page {
	align-items: flex-start;
}
.tab-pane-card {
	display: none;
}
.tab-pane-card:nth-child(1) {
	display: block;
}
.table-features table {
	width: 100%;
	border-spacing: 0;
	font-weight: 500;
}
.table-features table tr:nth-child(odd) td {
	background-color: #fff;
}
.table-features table td {
	padding: 11px 30px;
}
.card-top__right {
	margin-top: 15px;
	white-space: nowrap;
}
.card-page_laminate .wrap-setting-card {
	max-width: 100%;
}
.type-radios {
	max-width: 125px;
	display: flex;
	justify-content: space-between;
}
.radio-type__icon {
	width: 28px;
	height: 28px;
	background-color: #ffffff;
	border: 1px solid rgba(104,104,106,0.69);
	transition: all 0.3s;
	border-radius: 50%;
	position: relative;
	display: block;
}
.radio-type__icon:after {
	content: '';
	position: absolute;
	top: -1px;
	left: -1px;
	width: 28px;
	height: 28px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	background-image: none;
	color: #fff;
	font-size: 11px;
	opacity: 0;
	transition: .2s;
}
.radio-type label input:checked ~ span .radio-type__icon:after {
	opacity: 1;
}
.radio-type label input:checked ~ span .radio-type__icon {
	background-color: #c77d58;
	border-color: #c77d58;
}
.radio-type {
	text-align: center;
	cursor: pointer;
	display: inline-block;
}
.card-page_laminate .wrap-setting-card .item-select {
	max-width: 140px;
}
.card-page_laminate .price-old {
	margin-right: 75px;
}
.card-amount {
	font-size: 18px;
	margin-bottom: 35px;
	color: #67686a;
}
.card-amount span {
	font-size: 24px;
	color: #383838;
	margin-left: 6px;
}
.card-amount sup {
	font-size: 10px;
}
.price-old sup {
	font-size: 12px;
}
.price-main sup {
	font-size: 15px;
}
.value-card {
	font-size: 18px;
	margin-right: auto;
	margin-left: 25px;
	color: #67686a;
}
.value-card span {
	font-size: 24px;
}
.value-card strong {
	font-weight: 400;
	color: #383838;
}
.value-card sup {
	font-size: 14px;
}
.card-bottom {
	max-width: 520px;
	display: flex;
	justify-content: space-between;
}
.card-page_laminate .wrap-setting-card > .row > div {
	margin-bottom: 25px;
}
.card-page_laminate .card-top {
	margin-bottom: 40px;
}
.card-page_laminate .radio-text span {
	padding: 5px 9px;
}
.pl_0 {
	padding-left: 0;
}
.pl_40 {
	padding-left: 40px;
}
.row_categories .item-category__image::after {
	background: rgba(56, 56, 56, 0.36);
	mix-blend-mode: initial;
}
.row_categories .item-category ul,
.row_categories .item-category .btn-main {
	opacity: 1;
}
.item-category ul {
	max-height: 74%;
	overflow: auto;
	width: 100%;
}
.item-category ul::-webkit-scrollbar {
    -webkit-appearance: none;
}
.item-category ul::-webkit-scrollbar:vertical {
    width: 5px;
}
.item-category ul::-webkit-scrollbar:horizontal {
    height: 5px;
}
.item-category ul::-webkit-scrollbar-thumb {
    background-color: #c77d58;
    border-radius: 10px;
}
.item-category ul::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #cab38a;
}
.row_categories {
	margin: 0 -38px;
}
.row_categories > div {
	padding: 0 38px;
	margin-bottom: 55px;
}
.title-section_center {
	text-align: center !important;
}
.row_categories .item-category__content {
	padding-bottom: 30px;
}
.text-page_block {
	padding: 40px 50px;
	padding-bottom: 20px;
	background-color: #ffffff;
}
.title-line {
	font-size: 24px;
font-weight: 700;
max-width: 85%;
color: #383838;
	display: flex;
	align-items: flex-end;
}
.title-line::after {
	position: relative;
	display: block;
	content: " ";
	height: 1px;
	margin-left: 10px;
	flex: 1;
	background-color: #cab28a;
}
.block-form {
	padding: 30px 55px;
	padding-bottom: 35px;
	text-align: center;
	background-color: #ffffff;
}
.block-form__title {
	font-size: 24px;
line-height: 39px;
padding-bottom: 25px;
font-weight: 700;
font-family: 'Road Radio';
	text-align: center;
}
.item-form_page input, 
.item-form_page textarea {
	border-color: #383838;
	color: #383838;
}
.item-form_page *::-webkit-input-placeholder {
	color: #383838;
	opacity: 1;
}
.item-form_page *:-moz-placeholder {
	color: #383838;
	opacity: 1;
}
.item-form_page *::-moz-placeholder {
	color: #383838;
	opacity: 1;
}
.item-form_page *:-ms-input-placeholder {
	color: #383838;
	opacity: 1;
}
.item-form_page {
	margin-bottom: 30px;
}
.block-form .btn-main {
	width: 80%;
	margin-top: 16px;
	font-size: 14px;
	height: 56px;
}
.checkbox_page label > span:before {
	border-color: rgba(56,56,56,0.69);
}
.block-form .checkbox {
	margin-top: 30px;
}
.list-social_page a {
	width: 42px;
height: 42px;
margin-right: 16px;
font-size: 20px;
color: #373737;
	background-color: #ffffff;
background-image: linear-gradient(130.0deg, #fafafa 3%, #e3e4e6 30%, #fafafa 50%, #e3e4e6 81%, #fafafa 96%);
}
.list-social_page li:first-child a {
    font-size: 21px;
}
.contact-line {
	margin-top: 42px;
	display: flex;
	align-items: center;
}
.contact-line__title {
	width: 170px;
	margin-right: 15px;
	flex: none;
	font-weight: 700;
}
.contact-line a {
	color: #383838;
}
.contact-line__content {
	flex: 1;
}
.contact-line__flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contacts-left {
	padding-top: 25px;
	padding-right: 40px;
}
#map {
	height: 353px;
	margin-bottom: 33px;
	width: 100%;
	background-color: #fff;
}
.row_contacts {
	margin-bottom: 33px;
}
.contact-block__title {
	font-size: 18px;
	font-weight: 700;
}
.contact-block__item {
	margin-top: 25px;
}
.contact-block a {
	color: #383838;
}
.contact-block {
	padding: 35px 40px;
	padding-bottom: 55px;
	min-height: 100%;
	background-color: #fff;
}
.contacts-page .card-content {
	margin-bottom: 0;
}
.item-news {
	background-color: #ffffff;
	min-height: 100%;
	color: #383838;
	display: block;
}
.item-news__title {
	font-size: 24px;
	margin-bottom: 20px;
line-height: 1.2;
font-weight: 700;
	display: block;
}
.item-news__image {
	height: 244px;
	display: block;
	overflow: hidden;
}
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-news:hover .item-news__image img {
	transform: scale(1.05);
}
.item-news__content {
	padding: 28px 25px;
	padding-right: 32px;
	padding-bottom: 30px;
	display: block;
}
.item-news__date {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 18px;
	color: #999999;
	text-transform: uppercase;
	display: flex;
	align-items: flex-end;
}
.item-news__date::after {
	position: relative;
	display: block;
	content: " ";
	height: 1px;
	margin-left: 10px;
	flex: 1;
	background-color: #cab28a;
}
.item-news p {
	display: block;
	margin: 0;
	            display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.row_news > div {
	padding: 0 25px;
	margin-bottom: 44px;
}
.row_news {
	margin: 0 -25px;
}
.news-page .pager {
	margin: 0;
}
.about-top p {
	margin-bottom: 20px;
}
.about-top .title-middle {
	margin-bottom: 20px;
}
.video-block {
	height: 448px;
	display: block;
	position: relative;
	z-index: 1;
}
.video-block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.video-block::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
background-image: linear-gradient(-54.0deg, rgba(44,61,46,0.4) 3%, rgba(62,81,64,0.4) 30%, rgba(44,61,46,0.4) 50%, rgba(62,81,64,0.4) 80%, rgba(44,61,46,0.4) 96%);
}
.video-block__play {
	width: 121px;
height: 121px;
font-size: 36px;
color: #c97f5c;
background-color: #ffffff;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 2;
position: absolute;
margin: auto;
transition: all 0.3s;
}
.video-block:hover .video-block__play {
	transform: scale(1.05);
}
.about-numbers {
	padding: 65px 55px;
	margin-bottom: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
		mix-blend-mode: multiply;
background-image: linear-gradient(-79.0deg, #2c3d2e 6%, #3e5140 30%, #2c3d2e 50%, #3e5140 80%, #2c3d2e 93%);
}
.about-top {
	margin-bottom: 60px;
}
.about-consultation {
	font-size: 18px;
	padding: 0 100px;
	padding-top: 37px;
	margin-left: -70px;
	margin-right: -40px;
	margin-bottom: 65px;
	font-weight: 700;
	color: #fafafa;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: url(../img/bg_sect.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.about-consultation__content {
	max-width: 525px;
}
.about-consultation .title-section {
	color: #fafafa;
}
.about-consultation__image {
	margin-left: 100px;
	position: relative;
}
.about-consultation .btn-main {
	font-size: 14px;
	height: 56px;
	margin-top: 70px;
	padding: 0 37px;
}
.cunsult-item {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
}
.cunsult-item__descr {
	font-size: 14px;
	font-weight: 500;
}
.cunsult-item__name {
	padding: 10px 18px;
	font-size: 18px;
	margin-bottom: 10px;
	background-color: #fafafa;
border-radius: 6px;
font-family: 'Road Radio';
color: #383838;
}
.cunsult-item_1 {
	bottom: 64px;
	left: -80px;
}
.cunsult-item_2 {
	bottom: 220px;
	right: -30px;
}
.about-images__wrap {
	display: flex;
	margin: 0 -3px;
	align-items: flex-end;
}
.about-images__item {
	flex: 1;
	display: flex;
	padding: 3px;
}
.about-images__item_big img {
	width: 100%;
}
.about-images__item_min img {
	width: 67%;
}
.about-images__wrap:nth-child(2) .about-images__item_min {
	justify-content: flex-end;
}
.about-images__wrap:nth-child(2) {
	align-items: flex-start;
}
.about-images {
	position: relative;
}
.circle-text {
	width: 247px;
height: 247px;
padding: 0 60px;
border-radius: 50%;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
position: absolute;
text-align: center;
background-image: linear-gradient(130.0deg, #fafafa 3%, #e3e4e6 30%, #fafafa 50%, #e3e4e6 80%, #fafafa 96%);
}
.circle-text::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	background-image: url(../img/text_circle.png);
	background-repeat: no-repeat;
	background-position: center;
}
.circle-text__text {
	font-size: 18px;
	font-family: 'Road Radio';
	line-height: 1.2;
font-weight: 700;
}
.circle-text__text span {
	font-size: 24px;
	text-transform: uppercase;
}
.fancybox-skin {
	padding: 0 !important;
}
.tab-container .title-section_center {
	padding-bottom: 20px;
}

.item-vacancy__head {
	font-size: 24px;
	padding: 23px 30px;
line-height: 30px;
font-weight: 500;
cursor: pointer;
	background-color: #ffffff;
}
.item-vacancy__content {
	padding: 30px;
	padding-bottom: 0;
	display: none;
}
.item-vacancy__content p {
	margin: 0;
}
.item-vacancy__content .btn-main {
	height: 56px;
	padding: 0 28px;
	font-size: 14px;
	margin-top: 40px;
}
.item-vacancy {
	margin-top: 25px;
}
.title-small {
	font-size: 24px;
line-height: 30px;
font-weight: 500;
}
.item-team__title {
	font-size: 20px;
	margin-bottom: 6px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Road Radio';
}
.item-team__image {
	height: 260px;
	display: block;
}
.item-team__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-team__content {
	padding: 22px 20px;
	padding-bottom: 27px;
}
.item-team a {
	color: #383838;
}
.item-team {
	min-height: 100%;
	text-align: center;
	font-weight: 500;
	background-color: #fff;
}
.tab-container .title-small {
	padding-bottom: 20px;
}
.row_team > div {
	padding: 0 23px;
	margin-bottom: 30px;
}
.row_team {
	margin: 0 -23px;
}
.item-partner {
	height: 189px;
	margin-top: 27px;
	display: flex;
	align-items: center;
	justify-content: center;
background-color: #ffffff;
}
.item-partner img {
	max-width: 100%;
	max-height: 100%;
}
.text-medium {
	font-weight: 500;
	margin-bottom: 20px;
}
.text-medium li::before {
	content: "•";
	margin-right: 10px;
}
.item-sertificat {
	min-height: calc(100% - 16px);
	padding: 8px;
	margin-top: 24px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
}
.item-sertificat img {
max-width: 100%;
max-height: 100%;
}
.item-sertificat {
	margin-top: 24px;
}
.row_sertificats {
	margin: 0 -7px;
}
.row_sertificats > div {
	padding: 0 7px;
}
.content__right .slider-portfolio .item-portofilo {
	margin: 0 20px;
}
.content__right .slider-portfolio {
	margin: 0 0px;
	margin-right: 30px;
	margin-bottom: 90px;
}
.content__right .slider-portfolio .slick-prev {
    left: -61px;
}
.content__right .slider-portfolio .slick-next {
    right: -65px;
}
.portfolio-page .content__right .title-section {
	padding-bottom: 8px;
}
.content__right .consultation {
	    margin-left: -70px;
    margin-right: -40px;
    margin-bottom: 58px;
}
.object-block {
	padding: 11px;
	font-size: 14px;
	margin-bottom: 55px;
line-height: 21px;
	background-color: #ffffff;
}
.slider-for__item {
	height: 422px;
	display: block;
}
.slider-nav__item img,
.slider-for__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider-nav__item {
	height: 122px;
	margin: 0 12px;
	display: block;
	cursor: pointer;
}
.slider-nav {
	margin: 0 -12px;
	margin-top: 23px;
}
.object-block__right {
	padding-left: 35px;
	padding-right: 45px;
}
.object-price__descr {
	margin-right: 28px;
	color: #6e6e70;
}
.object-price {
	margin-bottom: 40px;
	display: flex;
	align-items: center;	
}
.object-price .price-main {
	font-weight: 700;
}
.object-block .title-middle {
	margin-bottom: 40px;
}
.form-phone {
	display: flex;
	align-items: center;
}
.form-phone .item-form {
	width: 190px;
	max-width: 100%;
	margin: 0;
	margin-right: 30px;
}
.form-phone .btn-main {
	height: 56px;
	font-size: 14px;
}
.object-block .form-phone {
	margin-top: 50px;
}
.row_three > div {
	padding: 0 45px;
}
.row_three {
	margin: 0 -45px;
}
.object-page .card-content {
	margin-bottom: 30px;
}
.object-page .content__right .consultation {
	margin-bottom: 0;
}
.object-page .content__right {
	padding-bottom: 0;
}
.article h6 {
	font-size: 18px;
font-weight: 500;
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
	margin-bottom: 20px;
}
.article h2 {
	font-size: 30px;
}
.article h3 {
	font-size: 24px;
line-height: 39px;
font-weight: 700;
}
.article h1 {
	padding: 0;
	text-align: left;
}
.article p,
.article li {
	margin-bottom: 20px;
}
.article li {
	position: relative;
}
.article li::before {
	position: absolute;
	display: block;
	content: " ";
	width: 10px;
height: 10px;
top: 7px;
right: 100%;
margin-right: 10px;
border-radius: 50%;
background-color: rgba(202,178,138,0.0);
border: 3px solid #c77d58;
}
.article blockquote {
	padding: 30px;
	font-weight: 500;
background-color: #f2f2f3;
margin: 0;
}
.article blockquote p {
	margin: 0;
}
.article p strong {
	font-weight: 500;
}
.article img {
	width: 100%;
	margin-bottom: 30px;
	height: auto;	
}
.article time {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 22px;
	color: #999999;
	text-transform: uppercase;
	display: flex;
	align-items: flex-end;
}
.article time::after {
	position: relative;
	display: block;
	content: " ";
	height: 1px;
	margin-left: 10px;
	flex: 1;
	background-color: #cab28a;
}
.article-page .card-content {
	margin-bottom: 0;
}
.return-info .title-min {
	padding-top: 20px;
	margin-bottom: 20px;
}
.return-info li::before {
	margin-right: 10px;
	content: "•";
}
.return-info ul {
	margin-bottom: 100px;
}
.return-info p {
	margin-bottom: 20px;
}
.file-upload input {
	opacity: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.file-upload label {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
}
.file-upload {
	font-size: 14px;
}
.file-upload i {
	margin-right: 15px;	
}