/*==========  Desktop First Method  ==========*/
@media only screen and (max-height : 855px) {
	.billbord .slick-arrow {
		bottom: 40px;
	} 
	.item-billbord__content {
		padding-top: 180px;
		padding-bottom: 40px;
	}
	.cirlce_b2b {
		bottom: 150px;
	}
	.billbord_b2b .descr-page {
		margin-bottom: 25px;
	}
}
@media only screen and (max-width : 1830px) {
	.item-category .title-section {
		font-size: 28px;
		line-height: 35px;
	}
	.item-category__image {
		height: 520px;
	}
	.item-category__content {
		padding: 30px 25px;
		padding-bottom: 20px;
	}  s
	.item-category .title-section {
		margin-bottom: 25px;
		min-height: 75px;
	} 
	.item-category ul { 
		max-height: 81%;
	} 
}
@media only screen and (max-width : 1800px) {
	.item-catalog {
		padding: 17px;
	}
	.slider-catalog .item-catalog {
		margin: 0 10px; 
	}
	.slider-catalog {
		padding: 0 10px;
	}
	.item-catalog .link-main {
		font-size: 12px;
	}
	.item-catalog .btn-main {
		font-size: 13px;
		line-height: 18px;
		height: 40px;
		padding: 0 12px;
	}
	.colors-list {
		left: 6px;
	}
	.item-catalog__image {
		height: 245px;
	}
	.about .title-section {
		font-size: 32px;
		line-height: 37px;
	}
	.about-block {
		padding: 35px 25px;
	}
	.content__right .item-portofilo__content {
		padding-left: 11px;
		padding-right: 11px;	
	}

}
@media only screen and (max-width : 1750px) {
	.item-phone {
		padding: 0 20px;
	}
	.search-form,
	.btn-icon {
		width: 70px;
	}
	.catalog-btn-wrap {
		top: 81px;
	}
	.header__left .btn-menu {
		margin-left: 30px;
	}
	.header__left {
		padding-left: 30px;
		padding-right: 40px;
	}
	.menu a {
		font-size: 16px;
	}
	.item-category__image {
		height: 460px;
	}
	.item-category .title-section {
		margin-bottom: 25px;
	}
	.item-phone,
	.search-form,
	.btn-icon,
	.menu a {
		height: 80px;
	}
	.btn-icon__arrow {
		bottom: 7px;
	}
	.btn-icon__value {
		top: 23px;
		right: 11px;
	}
	.menu-main {
		left: 195px;
		right: 195px;
	}
	.menu-main {
		padding: 35px 50px;
		padding-right: 20px;
	}
	.title-menu {
		font-size: 22px;
	}
	.wrapper_page {
		padding-top: 80px;
	}
	.content__left {
		width: 290px;
	}
	.item-sidebar__link {
		font-size: 20px;
		line-height: 25px;
		padding: 14px 25px;
		padding-right: 10px;
	}
	.item-sidebar__content {
		padding-left: 25px;
		padding-right: 25px;
	}
	.content__right {
		padding-left: 30px;
		padding-right: 25px;
	}
	.card-content {
		margin-bottom: 30px;
	}
	.row_categories {
		margin: 0 -25px;
	}
	.row_categories > div {
		padding: 0 25px;
		margin-bottom: 45px;
	}
	.item-category .title-section {
		min-height: 68px;
		margin-bottom: 20px;
	}
	.item-category ul {
		max-height: 75%;
	}
	.text-page_block {
		padding: 30px 35px;
		padding-bottom: 20px;
	}
	.row_news > div {
		padding: 0 15px;
		margin-bottom: 30px;
	}
	.row_news {
		margin: 0 -15px;
	}
	.item-news__image {
		height: 230px;
	}
	.item-news__title {
		font-size: 22px;
	}
	.about-consultation {
		font-size: 16px;
		padding: 35px;
		padding-bottom: 0;
		margin-left: -30px;
		margin-right: -25px;
	}
	.about-consultation__image img {
		max-width: 600px;
	}
	.about-consultation__image {
		margin-left: 50px;
	}
	.cunsult-item_2 {
		bottom: 185px;
		right: -19px;
	}
	.about-consultation .btn-main {
		margin-top: 40px;
	}
	.about-consultation__content {
		max-width: 495px;
	}
	.row_team > div {
		padding: 0 15px;
	}
	.row_team {
		margin: 0 -15px;
	}
	.item-team__image {
		height: 235px;
	}
	.item-partner {
		height: 160px;
	}
	.about-page #tab4 .title-section {
		font-size: 34px;
	}
	.content__right .slider-portfolio .item-portofilo {
		margin: 0 15px;
	}
	.content__right .slider-portfolio {
		margin: 0 40px;
		margin-right: 50px;
		margin-bottom: 60px;
	}
	.content__right .item-portofilo__image {
		height: 344px;
	}
	.content__right .item-portofilo__title {
		font-size: 21px;
		line-height: 28px;
	}
	.content__right .item-portofilo {
		height: 500px;
	}
	.item-portofilo:hover .item-portofilo__image {
		height: 248px;
	}
	.content__right .consultation {
		margin-left: -30px;
		margin-right: -25px;
		padding-left: 15px;
	}
	.billbord_b2b .item-billbord__content {
		padding-left: 55px;
	}
	.billbord_b2b .descr-page {
		margin-bottom: 60px;
	}
	.billbord_b2b .descr-big {
		    font-size: 44px;
    line-height: 53px;
		margin-bottom: 40px;
	}
	.descr-big span {
    font-size: 32px;
    line-height: 42px;
}
	.billbord_b2b .descr-big {
    max-width: 679px;
}
.billbord_b2b .descr-page {
	max-width: 640px;
}
.slider-gallery__item {
	height: 375px;
}
}
@media only screen and (max-width : 1535px) {
	.item-phone {
		height: 80px;
		padding: 0 15px;
		font-size: 17px;
	}
	.search-form,
	.btn-icon,
	.menu a {
		height: 80px;
	}
	.menu a {
		font-size: 14px;
	}
	.item-phone i {
		margin-left: 10px;
	}
	.logo img {
		max-width: 120px;
	}

	.search-form, .btn-icon {
		width: 60px;
	}
	.header__left {
		padding-right: 30px;
	}
	.menu-main {
		left: 162px;
		right: 162px;
	}
	.jq-selectbox__trigger {
		width: 18px;
	}
	.item-select .jq-selectbox__select-text {
		padding-left: 10px;
		padding-right: 16px;
		padding-top: 6px;
	}
	.range-text {
		margin-right: 6px;
	}
	.range-item {
		margin-right: 7px;
	}
	.row_catalog .item-catalog__image {
		padding: 10px;
	}
	.jq-selectbox__dropdown,
	.item-select .jq-selectbox__select-text {
		font-size: 13px;
	}
	.row_catalog > div {
		padding: 0 7px;
	}
	.row_catalog {
		margin: 0 -7px;
	}
	.consultation-page__wrap {
		max-width: 846px;
	}
	.content__right .title-section {
		font-size: 32px;
		line-height: 35px;
	}
	.consultation-page {
		padding: 25px 30px;
	}
	.slider-products .item-catalog__image {
		padding: 15px;
	}
	.title-middle {
		font-size: 28px;
	}
	.about-numbers {
		padding: 50px 25px;
	}
	.item-team__title {
		font-size: 18px;
	}
	.about-page #tab4 .title-section {
		font-size: 30px;
	}
	.content__right .item-portofilo__title {
		font-size: 20px;
		line-height: 28px;
	}
	.row_three > div {
		padding: 0 45px;
	}
	.row_three {
		margin: 0 -45px;
	}


}
@media only screen and (max-width : 1500px) {
	.slider-portfolio .slick-prev {
		left: 0;
	}
	.slider-portfolio .slick-next {
		right: 0;
	}
	.content .slider-products .item-catalog {
		margin: 0 7px;
	}
	.title-card {
		font-size: 16px;
	}
	.card-amount,
	.value-card {
		font-size: 16px;
	}
	.contacts-left {
		padding-right: 15px;
	}
	.contact-block {
		padding-left: 30px;
		padding-right: 30px;
	}
	.contact-line {
		font-size: 15px;
	}
	.contact-line__title {
		width: 160px;
	}
	.title-line {
		max-width: 90%;
	}
	.item-news__title {
		font-size: 20px;
	}
	.item-news__image {
		height: 185px;
	}
	.title-middle {
		font-size: 26px;
	}
	.about-numbers .item-about__title {
		font-size: 42px;
	}
	.about-numbers .item-about__title span {
		font-size: 20px;
	}
	.item-partner {
		height: 130px;
	}
	.content__right .item-portofilo__title {
		font-size: 18px;
		line-height: 26px;
	}
	.content__right .item-portofilo__image {
		height: 305px;
	}
	.content__right .item-portofilo {
		height: 454px;
	}
	.content__right .item-portofilo:hover .item-portofilo__image {
		height: 215px;
	}
	.content__right .item-portofilo:hover .item-portofilo__title {
		font-size: 18px;
		line-height: 25px;
	}
	.row_three > div {
		padding: 0 30px;
	}
	.row_three {
		margin: 0 -30px;
	}
	.article p, .article li {
		margin-bottom: 15px;
	}
	.return-page .block-form {
		padding-left: 45px;
		padding-right: 45px;
	}
	.billbord_b2b .item-billbord__content {
    padding-left: 110px;
}
.cirlce_b2b {
	right: -20px;
}
.process__image img {
	max-width: 740px;
}
.cunsult-item_4 {
    top: 261px;
    left: 365px;
}
.cunsult-item_3 {
	bottom: 52px;
}
.slider-gallery__item {
    height: 330px;
}
.process .title-section {
	padding-bottom: 40px;
}
.process li {
	margin-bottom: 30px;
}
}
@media only screen and (max-width : 1400px) {
	.logo img {
		max-width: 95px;
	}
	.search-form, .btn-icon {
		width: 50px;
	}
	.item-category .title-section {
		font-size: 23px;
		line-height: 31px;
		margin-bottom: 25px;
	}
	.item-category__image {
		height: 425px;
	}
	.consultation {
		padding-top: 70px;
		padding-bottom: 90px;
	}
	.slider-portfolio .item-portofilo {
		margin: 0 20px;
	}
	.slider-portfolio {
		margin: 0 -20px;
	}
	.item-portofilo__image {
		height: 345px;
	}
	.item-portofilo__title {
		font-size: 21px;
		line-height: 26px;
	}
	.item-portofilo__content {
		padding: 25px 15px;
		padding-top: 0;
	}
	.item-portofilo {
		height: 490px;
	}
	.item-portofilo:hover .item-portofilo__image {
		height: 235px;
	}
	.title-middle {
		font-size: 25px;
	}
	.item-about__title {
		font-size: 39px;
		line-height: 35px;
		margin-bottom: 13px;
	}
	.item-about__title span {
		font-size: 20px;
	}
	.item-about {
		font-size: 16px;
		line-height: 22px;
		max-width: 235px;
	}
	.menu-main {
		left: 137px;
		right: 137px;
	}
	.content__left {
		width: 250px;
		padding-top: 15px;
	}
	.item-sidebar__link {
		padding-left: 10px;
		font-size: 17px;
		line-height: 20px;
	}
	.item-sidebar.active .item-sidebar__link::before {
		margin-right: 7px;
	}
	.item-sidebar__content {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10px;
		font-size: 14px;
	}
	.item-sidebar__content li {
		margin-bottom: 10px;
	}
	.content__right {
		padding: 20px 25px;
		padding-bottom: 40px;
	}
	.content__top {
		margin-bottom: 25px;
	}
	.sorting-catalog {
		flex-wrap: wrap;
	}
	.sorting-catalog .range-item,
	.sorting-catalog .item-select {
		width: 32%;
		flex: none;
	}
	.sorting-catalog .range-item {
		margin-bottom: 10px;
	}
	.range-text {
		width: 100%;
	}
	.content__right .title-section {
		padding-bottom: 25px;
	}
	.row_catalog .item-catalog .btn-main {
		font-size: 11px;
		line-height: 18px;
		height: 40px;
		padding: 0 8px;
	}
	.row_catalog .item-catalog .link-main {
		font-size: 10px;
	}
	.row_catalog > div {
		padding: 0 5px;
		margin-bottom: 15px;
	}
	.row_catalog {
		margin: 0 -5px;
	}
	.row_catalog .availability {
		padding-left: 13px;
	}
	.row_catalog .item-catalog__title {
		font-size: 15px;
		line-height: 23px;
		margin-bottom: 10px;
	}
	.row_catalog .item-catalog__price {
		font-size: 21px;
		margin-bottom: 16px;
		line-height: 31px;
	}
	.consultation-page {
		background-position: left center;
	}
	.card-image {
		height: 520px;
	}
	.card-top .title-section {
		padding-bottom: 10px;
	}
	.card-top {
		margin-bottom: 35px;
	}
	.card-buttons .btn-main {
		margin-right: 20px;
		min-width: 140px;
	}
	.btn-icon-card:last-child {
		margin-right: 0;
	}
	.btn-icon-card {
		margin-right: 20px;
	}
	.tabs-card a {
		padding: 15px;
		min-width: 170px;
	}
	.card-page_laminate .wrap-setting-card > .row:first-child > div:first-child {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 49.666667%;
		flex: 0 0 49.666667%;
		max-width: 49.666667%;
	}
	.content__right .title-section {
		font-size: 28px;
		line-height: 32px;
	}
	.card-page_laminate .content__right .title-section {
		font-size: 28px;
		line-height: 33px;
	}
	.card-page_laminate .card-top {
		margin-bottom: 19px;
	}
	.card-prices {
		margin-bottom: 19px;
	}
	.card-page_laminate .wrap-setting-card > .row > div {
		margin-bottom: 18px;
	}
	.card-page_laminate .card-content .quantity {
		margin-bottom: 22px;
	}
	.card-amount {
		margin-bottom: 25px;
	}
	.row_categories {
		margin: 0 -15px;
	}
	.row_categories > div {
		padding: 0 15px;
		margin-bottom: 30px;
	}
	.block-form {
		padding-left: 35px;
		padding-right: 35px;
	}
	.block-form__title {
		font-size: 21px;
		line-height: 32px;
		padding-bottom: 16px;
	}
	.contact-line {
		margin-top: 35px;
	}
	.contact-line__title {
		width: 130px;
	}
	.item-news__content {
		padding: 25px 20px;
	}
	.item-news__title {
		font-size: 17px;
		margin-bottom: 13px;
	}
	.item-news {
		font-size: 14px;
	}
	.item-news__date {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 13px;
	}
	.title-middle {
		font-size: 22px;
	}
	.about-numbers .item-about__title {
		font-size: 35px;
	}
	.about-numbers .item-about {
		font-size: 14px;
	}
	.about-numbers .item-about__title span {
		font-size: 17px;
	}
	.about-consultation__image img {
		max-width: 500px;
	}
	.about-consultation {
		font-size: 14px;
		line-height: 22px;
	}
	.about-consultation .btn-main {
		margin-top: 15px;
	}
	.content__right .tabs a {
		min-width: 170px;
	}
	.about-consultation__content {
		max-width: 360px;
	}
	.row_team > div {
		padding: 0 7px;
	}
	.row_team {
		margin: 0 -7px;
	}
	.item-team {
		font-size: 14px;
	}
	.item-team__image {
		height: 220px;
	}
	.about-page #tab4 .title-section {
		font-size: 27px;
	}
	.content__right .slider-portfolio .item-portofilo {
		margin: 0 5px;
	}
	.content__right .item-portofilo__title {
		font-size: 16px;
		line-height: 25px;
	}
	.content__right .slider-portfolio .slick-prev {
		left: -65px;
	}
	.content__right .slider-portfolio .slick-next {
		right: -71px;
	}
	.slider-for__item {
		height: 375px;
	}
	.object-block__right {
		padding-left: 15px;
		padding-right: 15px;
	}
	.object-price {
		margin-bottom: 20px;
	}
	.object-block .title-middle {
		margin-bottom: 20px;
	}
	.object-block .form-phone {
		margin-top: 15px;
	}
	.slider-nav__item {
		height: 92px;
		margin: 0 5px;
	}
	.slider-nav {
		margin: 0 -5px;
		margin-top: 15px;
	}
	.article h6 {
		font-size: 16px;
	}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
    margin-bottom: 13px;
}
.article {
	font-size: 14px;
	line-height: 22px;
}
.article li::before {
	top: 6px;
	margin-right: 7px;
}
.article h3 {
    font-size: 20px;
    line-height: 28px;
    }
    .return-page .block-form {
    	padding-left: 30px;
    	padding-right: 30px;
    }
    .return-info .title-min {
    	padding-top: 0;
    }
    .return-info ul {
    	margin-bottom: 50px;
    }
    .billbord_b2b .descr-big {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 30px;
}
.descr-big span {
    font-size: 27px;
    line-height: 37px;
}
.billbord_b2b {
	background-position: left center;
}
.cirlce_b2b {
    right: -129px;
}
.process__image img {
    max-width: 660px;
}
.cunsult-item_4 {
    top: 234px;
    left: 320px;
}
.slider-gallery__item {
	height: 280px;
	margin: 0 7px;
}
.slider-gallery .slick-prev {
    left: 124px;
}
.slider-gallery .slick-next {
    right: 124px;
}
.bottom-form .title-section {
    padding-right: 23px;
    width: 310px;
    }
    .slider-partners .item-partner {
    	margin: 0 7px;
    }
    .slider-partners {
    	padding: 0 7px;
    	padding-bottom: 40px;
    }
    .become-partner__image img {
    max-width: 535px;
}
.form-become {
    max-width: 590px;
}
.become-partner__descr {
	margin-bottom: 25px;
}
.process__left {
	padding-right: 15px;
}

/*new*/
.card-page_linoleum .card-image {
	height: 540px;
}
.wrap-line-linoleum .item-select, .wrap-line-linoleum .item-input {
	width: 107px;
}
.thanks .title-small {
	margin-bottom: 70px;
}

.purchase-subtable th:first-child, .purchase-subtable td:first-child {
	padding-left: 25px;
}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.catalog-btn-wrap,
	.btn-menu__text,
	.phones-block,
	.btn-icon,
	.header__wrap .menu {
		display: none;
	}
	.logo img {
		max-width: 100px;
	}
	.header__left {
		border: none;
		padding: 0;
		margin: 0;
	}
	.header__left .btn-menu {
		position: absolute;
		top: 0;
		right: 0;
		margin: auto;
		bottom: 0;
		display: flex;
		align-items: center;
	}
	.header__wrap {
		padding: 19px 0;
		position: relative;
	}
	.descr-big {
		font-size: 38px;
		line-height: 49px;
	}
	.title-big {
		font-size: 72px;
		line-height: 40px;
		margin-bottom: 37px;
	}
	.item-billbord__content {
		min-height: 580px;
	}
	.header .container-fluid {
		padding: 0 15px;
	}
	.slider-catalog .item-catalog,
	.slider-categories .item-category {
		width: 280px;
	}
	.slider-catalog,
	.slider-categories {
		padding-bottom: 30px;
	}
	.consultation .descr-page {
		margin-bottom: 30px;
	}
	.article h1,
	.title-section {
		font-size: 32px;
		line-height: 34px;
	}
	.consultation .title-section {
		padding-bottom: 25px;
	}
	.slider-portfolio .item-portofilo {
		width: 350px;
	}
	.tabs a {
		min-width: 175px;
	}
	.portfolio .container {
		max-width: 100%;
	}
	.search-form input {
		font-size: 14px;
		height: 25px;
		width: 100% !important;
		background-color: rgba(250,250,250,0.1) !important;
		border-radius: 3px;
		padding-right: 25px;
		opacity: 1;
		color: #fff;
		position: relative;
	}
	.search-form {
		margin-right: 80px;
		margin-left: 27px;
		height: initial;
		flex: 1;
		width: initial;
	}
	.sandwich span {
		width: 30px;
	}
	.btn-search {
		right: 5px;
		font-size: 13px;
		left: auto;
		width: 15px;
	}
	.search-form input::-webkit-input-placeholder {
		color: transparent;
		opacity: 1;
	}
	.search-form input:-moz-placeholder {
		color: transparent;
		opacity: 1;
	}
	.search-form input::-moz-placeholder {
		color: transparent;
		opacity: 1;
	}
	.search-form input:-ms-input-placeholder {
		color: transparent;
		opacity: 1;
	}
	.search-form input:focus {
		width: initial;
		background-color: transparent;
	}
	.search-form input:focus + .btn-search {
		color: #fff;
		z-index: 4;
	}
	.search-form input:focus + .btn-search i::before {
		content: "\f002";
	}
	.title-section span {
		font-size: inherit;
	}
	.menu-main {
		left: -15px;
		right: -15px;
		height: 100vh;
		overflow: auto;
		padding-bottom: 130px;
	}
	.nav-menu li a,
	.nav-menu li:last-child a {
		margin-bottom: 20px;
	}
	.wrapper_page {
		padding-top: 64px;
	}
	.content__left {
		display: none;
	}
	.row_catalog .item-catalog .btn-main {
		font-size: 13px;
		line-height: 18px;
		height: 40px;
		padding: 0 12px;
	}
	.row_catalog .item-catalog .link-main {
		font-size: 12px;
	}
	.row_catalog .item-catalog__title {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 13px;
	}
	.slider-products {
		padding-bottom: 30px;
	}
	.about-consultation {
		margin-left: -25px;
		margin-right: -25px;
	}
	.content__right .slider-portfolio {
		margin: 0;
		margin-bottom: 50px;
	}
	.billbord_b2b .item-billbord__content {
		padding-left: 0;
		padding-bottom: 40px;
		height: initial;
	}
	.categories_b2b {
		padding-bottom: 30px;
	}
	.process__image img {
    max-width: 590px;
}
.cunsult-item_4 {
    top: 209px;
    left: 236px;
}
.process li {
	margin-bottom: 25px;
	font-size: 16px;
}
.slider-gallery {
	padding-bottom: 30px;
}
.bottom-form {
	margin-top: 20px;
	display: block;
}
.bottom-form .title-section {
	width: 100%;
	padding: 0;
	padding-bottom: 30px;
}
.excursion {
	padding-bottom: 40px;
}
.become-partner__image {
	display: none;
}
.become-partner .title-section br {
	display: none;
}
.form-become {
    max-width: 100%;
}
.become-partner__left {
	padding-bottom: 60px;
	margin: 0;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.bottom-about__wrap {
		flex-wrap: wrap;
	}
	.item-about {
		width: 50%;
	}
	.footer__content {
		padding-top: 15px;
		display: none;
	}
	.footer__content + ul {
		padding-top: 0;
	}
	a.footer__title,
	.footer__title {
		padding: 11px 0;
		border-bottom: 1px solid rgba(255,255,255,0.2);
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.consultation {
		background-image: url(../img/bg_consultation2.jpg);
	}
	.consultation__image {
		margin-bottom: -60px;
		display: flex;
		justify-content: flex-end;
		margin-right: -15px;
	}
	.container {
		max-width: 100%;
	}
	.slider-catalog {
		margin-right: -15px;
	}
	.about {
		background-image: none;
		background-color: #383838;
	}
	.bottom-about::before {
		display: none;
	}
	.bottom-about {
		padding: 0;
	}
	.item-about__title {
		font-size: 36px;
		line-height: 39px;
		margin: 0;
	}
	.item-about {
		margin-bottom: 40px;
	}
	.about-block {
		margin-bottom: 35px;
	}
	.footer__logo {
		margin-bottom: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.footer__logo .logo-descr {
		margin: 0;
		margin-left: 24px;
		max-width: 205px;
	}
	.footer__logo .logo-descr br {
		display: none;
	}
	.footer__mob {
		display: block;
		text-align: center;
	}
	.footer__title i {
		font-size: 13px;
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	.footer__logo ~ .list-social {
		display: none;
	}
	.footer__bottom {
		text-align: center;
	}
	.footer__bottom .list-social {
		margin-bottom: 15px;
		justify-content: center;
	}
	.btn_top {
		float: none;
	}
	.footer__bottom .row > div {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.footer {
		background-image: url(../img/bg_footer2.jpg);
	}
	.buttons-fixed {
		display: flex;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 800;
		background-color: #383838;
		height: 60px;
	}
	.btn-fixed img {
		max-width: 20px;
	}
	.btn-fixed {
		font-size: 10px;
		line-height: 1.2;
		font-weight: 300;
		padding-top: 15px;
		padding-bottom: 11px;
		color: #cab38a;
		display: flex;
		flex: 1;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
	.btn-fixed i {
		font-size: 16px;
		color: #fff;
	}
	.btn-fixed__value {
		top: 7px;
		left: 24px;
		right: 0;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #cab38a;
		display: flex;
		margin: 0 auto;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 13px;
		line-height: 1.2;
		color: #373737;
		position: absolute;
	}
	.links-fixed {
		top: 90px;
		right: 0;
		position: absolute;
		z-index: 600;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.phone-mob {
		width: 44px;
		height: 45px;
		font-size: 16px;
		background-color: #cab28a;
		background-image: linear-gradient(138.0deg, rgba(250,250,250,0.24) 1%, rgba(250,250,250,0.0) 60%, rgba(250,250,250,0.0) 69%);
		color: #fff;
		display: flex;
		align-items: center;
		margin-bottom: 12px;
		justify-content: center;
	}
	.btn-mob {
		padding: 10px 15px;
		font-size: 14px;
		line-height: 24px;
		font-weight: 500;
		text-transform: uppercase;
		color: #fafafa;
		transition: all 0.3s;
		transform: rotate(-90deg);
		transform-origin: 163px 50%;
		background-color: #c77d58;
	}
	.tabs {
		overflow: auto;
		margin-right: -15px;
		justify-content: flex-start;
	}
	.tabs a {
		margin-left: 0;
		margin-right: 16px;
	}
	.tabs::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.tabs::-webkit-scrollbar:vertical {
		width: 3px;
	}
	.tabs::-webkit-scrollbar:horizontal {
		height: 3px;
	}
	.tabs::-webkit-scrollbar-thumb {
		background-color: transparent;
		border-radius: 10px;
	}
	.tabs::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: transparent;
	}
	.footer {
		padding-top: 25px;
		padding-bottom: 53px;
	}
	.item-form {
		margin-bottom: 35px;
	}
	.content {
		display: block;
	}
	.card-image {
		padding: 0 60px;
		background-color: transparent;
		height: initial;
	}
	.breadcrumbs span {
		display: none;
	}
	.breadcrumbs li a {
		padding: 0;
	}
	.breadcrumbs li {
		font-size: 12px;
		margin-right: 5px;
		padding: 1px 10px;
		background-color: #ffffff;
		border-radius: 3px;
	}
	.breadcrumbs li:last-child {
		border: 1px solid rgba(56,56,56,0.06);
	}
	.card-image {
		margin-bottom: 30px;
	}
	.card-image .links-fixed {
		top: 30px;
	}
	.card-top__left {
		display: none;
	}
	.card-top {
		display: block;
		margin-bottom: 28px;
	}
	.card-top__right {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.card-top .articul {
		margin-bottom: 0;
	}
	.card-page_laminate .wrap-setting-card > .row:first-child > div:first-child {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.pr_35 {
		padding-right: 15px;
	}
	.pl_0,
	.pl_40 {
		padding-left: 15px;
	}
	.contact-line__title {
		width: 165px;
	}
	.contacts-left {
		padding-top: 0;
		padding-bottom: 30px;
	}
	.title-line {
		font-size: 20px;
		max-width: 100%;
	}
	.contact-block {
		min-height: initial;
		margin-bottom: 25px;
	}
	.video-block {
		height: 380px;
		margin-top: 25px;
	}
	.about-numbers {
		padding: 30px 25px;
		padding-bottom: 10px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.about-consultation {
		display: block;
	}
	.about-consultation__image {
		max-width: 500px;
		margin: 0 auto;
	}
	.about-consultation__image img {
		max-width: 100%;
	}
	.about-consultation__content {
		max-width: 100%;
		margin-bottom: 30px;
	}
	.about-page .title-section br {
		display: none;
	}
	.row_team > div {
		padding: 0 15px;
	}
	.row_team {
		margin: 0 -15px;
	}
	.item-team__image {
		height: 271px;
	}
	.item-vacancy__head {
		padding: 20px;
		font-size: 20px;
		line-height: 25px;
	}
	.item-vacancy__content {
		padding: 20px;
		padding-bottom: 0;
	}
	.item-vacancy__content .btn-main {
		margin-top: 25px;
	}
	.content__right .consultation {
		margin-bottom: 30px;
	}
	.slider-nav__item {
		height: 120px;
	}
	.object-block__right {
		padding-top: 25px;
	}
	.object-block {
		padding-bottom: 25px;
	}
	.article ul {
		padding-left: 20px;
	}
	.article img {
		width: initial;
		max-width: 100%;
	}
	.return-info ul {
		margin-bottom: 30px;
	}
	.return-page .card-content {
		margin-bottom: 0;
	}
	.cirlce_b2b {
		display: none;
	}
	.billbord_b2b {
    background-position: 21% 50%;
}
.process {
	padding-top: 30px;
}
.process__image img {
	max-width: 100%;
}
.cunsult-item_4 {
	top: 236px;
	right: 150px;
	left: auto;
}
.slider-gallery__item {
	height: 255px;
}

/*new*/
.card-page_linoleum .availability {
	margin-bottom: 15px;
}
.card-page_linoleum .colors-radios {
	margin-bottom: 25px;
}
.wrap-line-linoleum {
	margin-bottom: 25px;
}
.thanks {
	background-position: 30% 50%;
}
.delivery-right {
	padding-top: 25px;
}
.delivery-page img {
	margin-top: 20px;
}

.personal-page .tab-container-card {
	padding-top: 25px;
}
.purchase-history .row > div:nth-child(1) .purchase-history__title {
    padding-left: 20px;
}
.purchase-history__head {
	padding: 15px 0;
	line-height: 21px;
}
.purchase-history {
	font-size: 14px;
}
.purchase-history__name {
	margin-left: 15px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.title-big {
		font-size: 48px;
		margin-bottom: 25px;
	}
	.descr-big {
		font-size: 20px;
		line-height: 30px;
		padding-right: 40px;
	}
	.item-billbord__content {
		min-height: 494px;
		height: calc(100vh - 110px);
	}
	.btn-main {
		height: 42px;
		font-size: 14px;
		padding: 0 29px;
	}
	.item-billbord__content .btn-main {
		margin-top: 50px;
	}
	.slider-billbord .slick-dots {
		bottom: 22px;
	}
	.article h1,
	.title-section {
		font-size: 24px;
		line-height: 30px;
		padding-top: 28px;
		padding-bottom: 10px;
	}
	.bottom-link {
		display: none;
	}
	.item-category__hidden,
	.item-category ul, .item-category .btn-main {
		opacity: 1;
	}
	.item-category .btn-main {
		height: 42px;
		padding: 0 23px;
	}
	.slider-categories .item-category {
		margin: 0;
		width: 100%;
	}
	.slider-categories {
		margin: 0;
		margin-top: 10px;
		padding: 0 15px;
		padding-bottom: 30px;
	}
	.item-category .title-section {
		font-size: 26px;
		min-height: initial;
	}
	.item-category ul a {
		font-size: 16px;
	}
	.item-category__content {
		padding: 45px;
	}
	.categories {
		padding-bottom: 40px;
	}
	.descr-section {
		font-size: 13px;
		line-height: 21px;
		padding-bottom: 25px;
	}
	.slider-products .item-catalog,
	.slider-portfolio .item-portofilo,
	.slider-catalog .item-catalog {
		width: 87vw;
	}
	.item-catalog {
		padding: 24px;
	}
	.slider-catalog {
		padding-bottom: 35px;
	}
	.catalog {
		padding-bottom: 30px;
	}
	.consultation {
		padding-top: 32px;
		padding-bottom: 30px;
	}
	.descr-page {
		font-size: 13px;
		line-height: 21px;
	}
	.consultation .title-section {
		padding-bottom: 18px;
	}
	.item-form {
		margin-bottom: 30px;
	}
	.col_checkbox {
		padding-top: 27px;
		order: 2;
		display: flex;
		justify-content: center;
	}
	.tabs a {
		height: 40px;
		font-size: 13px;
		margin-right: 4px;
		padding: 0 16px;
		min-width: initial;
		white-space: nowrap;
	}
	.tab-container {
		padding-top: 25px;
	}
	.slider-portfolio .item-portofilo {
		margin: 0 12px;
	}
	.item-portofilo__title {
		font-size: 18px;
		line-height: 26px;
	}
	.about .title-section {
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		padding-bottom: 28px;
	}
	.container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}
	.about-block {
		padding: 22px 15px;
	}
	.title-middle {
		font-size: 21px;
	}
	.title-min {
		font-size: 16px;
	}
	body {
		font-size: 14px;
		line-height: 21px;
	}
	.item-about {
		font-size: 14px;
		line-height: 21px;
		padding-left: 25px;
	}
	.item-catalog__price {
		font-size: 20px;
		margin-bottom: 13px;
		line-height: 32px;
	}
	.item-catalog__title {
		font-size: 16px;
		margin-bottom: 12px;
	}
	.item-catalog__top {
		margin-bottom: 12px;
	}
	.menu-main {
		padding: 15px 20px;
		padding-bottom: 70px;
	}
	li .title-menu {
		margin-bottom: 10px;
	}
	.title-menu {
		font-size: 20px;
	}
	.header.active {
		background-color: #373737;
	}
	.menu-main {
		background-color: #373737;
	}
	.title-menu,
	.nav-menu a {
		color: #fff;
		display: block;
	}
	a.title-menu:hover,
	.nav-menu a:hover {
		border-color: #fff;
	}
	.nav-menu li a, .nav-menu li:last-child a {
		margin: 0;
		padding: 10px 0;
	}
	.title-menu {
		padding: 15px 0;
		margin: 0;
	}
	.sorting-catalog {
		margin: 0 -5px;
		margin-bottom: 20px;
	}
	.sorting-catalog .range-item, .sorting-catalog .item-select {
		width: 50%;
		padding: 0 5px;
		margin: 0;
	}
	.sorting-catalog .range-item {
		width: 100%;
		margin-bottom: 20px;
	}
	.content__right {
		padding: 0;
	}
	.content {
		padding: 15px;
		padding-bottom: 30px;
	}
	.content__top .link-page {
		display: none;
	}
	.content__top {
		margin-bottom: 15px;
	}
	.content__right .title-section {
		font-size: 27px;
		line-height: 34px;
		padding-bottom: 20px;
	}
	.consultation-page {
		padding: 20px;
		padding-bottom: 30px;
		margin: 0 -15px;
		margin-bottom: 20px;
	}
	.content__right .title-section {
		font-size: 24px;
		line-height: 31px;
		padding-bottom: 13px;
	}
	.content__right .title-section br {
		display: none;
	}
	.page-numbers:nth-child(n+6) {
		display: none;
	}
	.text-page h2 {
		font-size: 23px;
		margin-bottom: 17px;
	}
	.text-page h6 {
		font-size: 16px;
	}
	.text-page p {
		margin-bottom: 15px;
	}
	.content__right .title-section.title-section_mob {
		font-size: 18px;
		line-height: 24px;
		text-transform: none;
		margin-bottom: 10px;
		font-family: 'Littera Plain';
	}
	.title-card {
		font-size: 14px;
	}
	.radio-text span {
		font-size: 12px;
	}
	.wrap-setting-card > .row > div {
		margin-bottom: 25px;
	}
	.radio-color {
		margin-right: 19px;
	}
	.radio-color span {
		width: 19px;
		height: 19px;
	}
	.btn-icon-card {
		margin-bottom: 25px;
		margin-right: 43px;
		position: absolute;
		bottom: 100%;
		right: 0;
	}
	.card-buttons {
		position: relative;
		justify-content: space-between;
	}
	.card-buttons .btn-main {
		width: 46%;
		padding: 0 10px;
		margin-right: 0;
	}
	.card-content .quantity {
		display: none;
	}
	.card-prices {
		margin-bottom: 28px;
	}
	.tabs-card a {
		min-width: initial;
		margin: 0;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.tabs-card li {
		padding: 0 15px;
		flex: 1;
	}
	.tabs-card {
		margin: 0 -15px;
		margin-top: 15px;
	}
	.tab-container-card {
		padding-top: 28px;
	}
	.tab-container-card p {
		margin-bottom: 15px;
	}
	.hidden_mob {
		display: none !important;
	}
	.slider-products {
		margin-left: 0px;
	}
	.slider-products .item-catalog__bottom {
		justify-content: space-around;
	}
	.card-prices .price-main {
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		text-align: center;
	}
	.card-prices {
		position: relative;
	}
	.table-features table td {
		padding: 6px 15px;
	}
	.card-right {
		display: flex;
		flex-direction: column;
	}
	.card-prices {
		order: 2;
	}
	.card-buttons {
		order: 3;
	}
	.card-bottom {
		margin-bottom: 30px;
	}
	.value-card {
		margin-left: 0;
	}
	.title-card {
		white-space: nowrap;
	}
	.card-bottom .price-main {
		display: none;
	}
	.content .title-section_center {
		padding-top: 15px;
		padding-bottom: 20px;
	}
	.text-page_block {
		margin: 0 -15px;
		padding: 20px 15px;
		padding-bottom: 10px;
	}
	.item-category ul {
		max-height: 91%;
	}
	.contact-line {
		font-size: 14px;
		margin-top: 20px;
	}
	.contact-line__title {
		width: 123px;
	}
	.title-line {
		font-size: 18px;
	}
	#map {
		height: 290px;
	}
	.item-news__content {
		padding: 25px;
	}
	.news-page .title-section {
		padding-top: 10px;
		padding-bottom: 20px;
	}
	/*youtube video inside fancybox*/
	.fancybox-type-iframe .fancybox-inner {
		height: auto !important;
	}
	.fancybox-type-iframe iframe{
		width: calc(100vw - 40px);
		height: calc(100vw/1.77);
	}
	.about-top p {
		margin-bottom: 15px;
	}
	.video-block__play {
		width: 80px;
		height: 80px;
		font-size: 25px;
	}
	.video-block {
		height: 260px;
	}
	.about-top {
		margin-bottom: 35px;
	}
	.about-numbers {
		margin: 0 -15px;
		align-items: flex-start;
	}
	.cunsult-item__name {
		font-size: 16px;
		margin-bottom: 5px;
	}
	.cunsult-item__descr {
		font-size: 12px;
	}
	.cunsult-item_1 {
		bottom: 44px;
		left: -20px;
	}
	.cunsult-item_2 {
		bottom: 89px;
		right: -20px;
	}
	.circle-text {
		width: 130px;
		height: 130px;
	}
	.circle-text__text {
		font-size: 10px;
	}
	.circle-text__text span {
		font-size: 16px;
	}
	.circle-text::before {
		background-size: 115px 112px;
	}
	.item-team__image {
		height: 360px;
	}
	.about-page .title-section_center {
		padding-top: 0;
	}
	.title-small {
		font-size: 20px;
		line-height: 27px;
	}
	.tab-container .title-small {
		padding-bottom: 15px;
	}
	.item-vacancy__head {
		padding: 15px;
		font-size: 17px; 
		line-height: 22px;
	}
	.item-vacancy__content {
		padding: 20px 0;
		padding-bottom: 0;
	}
	.about-page #tab4 .title-section {
		font-size: 24px;
	}
	.item-sertificat {
		margin-top: 20px;
	}
	.about-consultation {
		margin-bottom: 25px;
	}
	.content__right .slider-portfolio {
		margin-right: -15px;
	}
	.content__right .item-portofilo__title {
		font-size: 18px;
		line-height: 29px;
	}
	.content__right .item-portofilo__content {
		padding-left: 15px;
		padding-right: 15px;
	}
	.content__right .consultation {
		margin: 0 -15px;
		padding-left: 0;
	}
	.slider-for__item {
		height: 320px;
	}
	.slider-nav__item {
		height: 99px;
	}
	.slider-nav {
		margin-top: 8px;
	}
	.object-price .price-main {
		font-size: 26px;
	}
	.object-price__descr {
		margin-right: 20px;
	}
	.object-block {
		margin-bottom: 30px;
	}
	.object-page .content {
		padding-bottom: 0;
	}
	.article h1 {
		padding-top: 10px;
	}
	.article blockquote {
		padding: 20px;
		margin-bottom: 15px;
	}
	.article img {
		margin-bottom: 15px;
	}
	.return-info .title-min {
		margin-bottom: 12px;
	}
	.return-info p {
		margin-bottom: 15px;
	}
	.return-info ul {
		margin-bottom: 20px;
	}
	.billbord_b2b .item-billbord__content {
		padding-top: 120px;
	}
	.billbord_b2b .descr-big {
    font-size: 29px;
    line-height: 38px;
    margin-bottom: 20px;
}
.descr-big span {
    font-size: 22px;
    line-height: 31px;
}
.billbord_b2b .item-billbord__content .btn-main {
	margin: 0;
}
.b2b_form .item-form {
	margin-bottom: 25px;
}
.b2b_form .checkbox {
	margin-top: 0;
}
.process .title-section {
	padding-bottom: 30px;
}
.cunsult-item_4 {
    top: 40%;
    right: 18%;
    }
    .process__image {
    	margin: 0 -15px;
    }
    .excursion .title-section br {
    	display: none;
    }
    .slider-gallery__item {
    	height: 170px;
    	margin: 0 5px;
    }
    .slider-gallery {
    	margin: 0 -5px;
    	margin-top: 15px;
    }
    .bottom-form .item-form {
    	margin-bottom: 25px;
    }
    .bottom-form .checkbox {
    	margin-top: 0;
    }
    .slider-partners .item-partner {
    	height: 105px;
    }
    .become-partner__descr {
    font-size: 16px;
    line-height: 24px;
}
.form-become .item-form_page {
	margin-bottom: 30px;
}
.become-partner .title-small {
	margin-bottom: 15px;
}
.become-partner__left {
	padding-bottom: 40px;
}
.become-partner {
	padding-top: 10px;
}

/*new*/
.card-page_linoleum .card-image {
	height: initial;
}
.card-page_linoleum .articul {
	margin-bottom: 5px;
}
.wrap-line-linoleum .item-select, .wrap-line-linoleum .item-input {
    width: 115px;
    margin-right: 20px;
}
.card-prices_hid-mob {
	display: none;
}
.thanks__title {
    font-size: 44px;
    margin-bottom: 15px;
    }
    .thanks__title span {
    font-size: 31px;
    line-height: 41px;
}
.thanks .title-small {
    margin-bottom: 38px;
}
.thanks__content {
	min-height: 388px;
	height: initial;
}

.tabs-card_personal li {
	padding: 0 5px;
}
.purchase-history__head {
	display: none;
}
.purchase-history {
	text-align: left;
}
.purchase-history__name {
	margin-left: 0;
}
.purchase-history__item .row > div:nth-last-child(2) {
	padding-left: 15px;
}
.purchase-subtable td::before,
.purchase-history__item .row > div::before {
    width: 180px;
    padding-left: 15px;
    font-size: 14px;
    text-align: left;
    display: block;
    flex: none;
    content: attr(data-title);
}
.purchase-history__item .row > div {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.purchase-history {
	margin: 0 -15px;
}
.purchase-subtable thead {
	display: none;
}
.purchase-subtable table, 
.purchase-subtable tbody, 
.purchase-subtable tr {
    display: block;
}
.purchase-subtable td  {
	display: flex;
	border: none;
}
.purchase-subtable th:first-child, .purchase-subtable td:first-child {
	width: 100%;
	padding-left: 0;
}
.purchase-subtable th:nth-child(2), .purchase-subtable td:nth-child(2) {
	text-align: left;
}

.purchase-subtable td {
    padding: 7px 0;
    }
    .purchase-subtable tr {
    	padding: 15px 0;
    	border-bottom: 1px solid #ccc;
    }
    .purchase-subtable tr:last-child {
    	border: none;
    }
    .purchase-subtable {
    background: rgba(129,156,142,0.1);
}
.personal-page .content__right .title-section {
	padding-bottom: 0;
}
.checkbox_page .checkbox label > span {
	padding-top: 1px;
}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.item-team__image {
		height: 282px;
	}
	.row_team > div {
		margin-bottom: 25px;
	}
	.row_partners > div {
		padding: 0 7px;
	}
	.row_partners {
		margin: 0 -7px;
	}
	.item-partner {
		height: 105px;
		margin-top: 16px;
	}
	.object-block {
		margin: 0 -15px;
		margin-bottom: 30px;
	}
	.slider-for__item {
		height: 270px;
	}
	.slider-nav__item {
		height: 72px;
	}
	.form-phone .item-form {
		width: 150px;
		margin-right: 15px;
	}
	.article h3 {
    font-size: 18px;
    line-height: 24px;
}
.process__image .cunsult-item__name {
    font-size: 13px;
    margin-bottom: 2px;
    padding: 3px 9px;
}
.process__image .cunsult-item__descr {
    font-size: 10px;
    line-height: 14px;
}
.cunsult-item_3 {
	max-width: 180px;
	bottom: 15%;
	left: 3%;
}
.slider-gallery__item {
	height: 185px;
}
.bottom-form__wrap .row {
	margin: 0 -5px;
}
.bottom-form__wrap .row > div {
	padding: 0 5px;
}
.bottom-form__wrap .row > div.col_checkbox {
	padding-top: 15px;
}

/*new*/
.wrap-line-linoleum {
	flex-wrap: wrap;
}
.wrap-line-linoleum .value-card {
	margin-bottom: 0;
	margin-top: 20px;
}
.wrap-line-linoleum .item-select, .wrap-line-linoleum .item-input {
	width: 135px;
}
 .wrap-line-linoleum .item-input  {
 	margin-right: 0;
 }
  #modal-callback .modal-wrap,
 #modal-measurer .modal-wrap,
 .modal-wrap {
 	padding: 30px 20px;
 }
 .tabs-modal {
 	margin: 0 -8px;
 	margin-bottom: 15px;
 }
 .tabs-modal a {
 	padding: 10px;
 }
 .modal-wrap .title-small {
 	padding-bottom: 15px;
 }
 .modal-button {
 	padding-top: 7px;
 }
 .thanks__title span {
    font-size: 26px;
    line-height: 37px;
}
.thanks .title-small {
	max-width: 268px;
	margin-bottom: 55px;
}
.thanks .title-small br {
	display: none;
}
.thanks__title {
	margin-bottom: 25px;
}
.thanks {
    background-position: 44% 50%;
}
.list-payments li {
    margin-right: 25px;
}
.delivery-page .title-middle {
	margin-bottom: 15px;
}
#modal-callback .modal-wrap .title-small,
#modal-measurer .modal-wrap .title-small {
    padding-bottom: 15px;
}

.tabs-card_personal li {
	flex-grow: 1;
	flex: none;
}
.tabs-card_personal {
	margin: 0;
	margin-top: 10px;
	justify-content: space-around;
}
}
@media only screen and (max-width : 396px) {
	.about-numbers .item-about__title {
		font-size: 28px;
	}
	.about-numbers .item-about__title span {
		font-size: 13px;
	}
}
@media only screen and (max-width : 380px) {
	.consultation__image img {
		max-width: 100%;
	}
	.search-form {
		margin-right: 57px;
		margin-left: 18px;
	}
	.card-image {
		padding: 0 30px;
	}
	.card-buttons .btn-main {
		width: 48%;
	}
	.radio-text {
		margin-right: 10px;
	}
	.item-category__content {
		padding: 30px;
	}

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.footer__content {
		display: block !important;
	}
	.card-image .links-fixed,
	.title-section_mob,
	.links-fixed,
	.buttons-fixed,
	.list-social_mob {
		display: none !important;
	}

	.purchase-history .row > div:nth-child(1) {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 23.666667%;
	flex: 0 0 23.666667%;
	max-width: 23.666667%;
}
.purchase-history .row > div:not(:nth-child(1)) {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 14.666667%;
	flex: 0 0 14.666667%;
	max-width: 14.666667%;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1390px) {
	.container {
		max-width: 1390px;
	}

}
@media (min-width: 1600px) {
	.container {
		max-width: 1390px;
	} 
}